# Seedbox qBittorrent settings
remote_qbit_url: "http://seedbox.qbit.url"
remote_qbit_user:  "YourS33db0xQBitUsername"
remote_qbit_pass:  "YourS33db0xQBitP4ssword"

# Local qBittorrent settings
local_qbit_url: "http://your.local.qbit.lan:8080"
local_auth_required: False
local_qbit_user: # Only required when local_auth_required is set to True
local_qbit_pass: # Only required when local_auth_required is set to True

# Tracker settings
trackers:
  - url: "reelflix.xyz"
    api_key: "your_api_key" # Add your API key if you use this tracker; otherwise just leave as is
  - url: "fearnopeer.com"
    api_key: "your_api_key" # Add your API key if you use this tracker; otherwise just leave as is

# Cleanup settings

# Inactivity Threshold can be entered as number of weeks, days, hours, minutes, or seconds (or any combination thereof)
# For example: "1w" = 1 week | "1w 3d" = 1 week, 3 days | "8d 1h 1s" = 8 days, 1 hour, 1 second
inactivity_threshold: "6d"

# Have a category or tag you don't want transferred? Add them below.
excluded_categories: ["skip_me"]
excluded_tags: ["tag_to_skip", "anothertagtoskip"]